.wrapper-adminpage {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 75px;

  @media (min-width: 800px) {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
