.cancelTable {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    animation: fadeIn 1s;
    & h2 {
        color: #fff;
        font-size: 2rem;
    }
    & input {
        background-color: #9D0208;
        padding: 1%;
        color: #fff;
        width: 60%;
        font-size: 1.5rem;
        border-radius: 10px;
    }
    & button {
        width: 40%;
        font-size: 1.5rem;
        border-radius: 15px;
        background-color: hsla(358, 97%, 31%, 0.7);
        color: #fff;
        &:hover {
            color: #370617 !important;
            text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #370617,
                0 0 8px #370617, 0 0 10px #370617, 0 0 12px #370617, 0 0 15px #370617;
            transition: all 0.5s ease-in-out;
            background-color: hsla(358, 97%, 31%, 0.3);
            cursor: pointer;     
        }
    }
}
.bookingCanceled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.3);
    padding: 10%;
    border-radius: 25%;
    & a:visited {
        color: #fff;
    }
    & button {
        width: 80%;
        padding: 2%;
        font-size: 1.2rem;
        border-radius: 15px;
        background-color: hsla(358, 97%, 31%, 0.7);
        color: #fff;
        &:hover {
            color: #370617 !important;
            text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #370617,
                0 0 8px #370617, 0 0 10px #370617, 0 0 12px #370617, 0 0 15px #370617;
            transition: all 0.5s ease-in-out;
            background-color: hsla(358, 97%, 31%, 0.3);
            cursor: pointer;     
        }
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }