/* footer {
    position: sticky;
    bottom: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

footer div {
    flex: 1;
}

h4 {
    margin-bottom: 10px;
}

p {
    margin: 0;
}
 */