.radioDiv {
    display: flex;
    justify-content: center;
    gap: 5px;
    & input[type=radio] {
        accent-color: #370617;
        height: 3vh;
        cursor: pointer;
        width: 4vw;
    }
    & label {
        font-size: 1.3rem;
        font-weight: 600;
    }


}
